<div id="footer-section">
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row pt-5 pb-3">
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4 d-flex align-items-center">
          <div class="mb-4 mx-auto">
            <a routerLink="/">
              <div class="logo">
                <img loading="lazy" class="text-center" src="../../../assets/images/logo/calculator.svg" width="80px"
                  height="100%" alt="Body calculator">
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4 d-flex align-items-center">
          <div>
            <strong class="footer-title">Contact</strong>
            <div class="footer-text mt-4">
              Email : support@body-calculator.com
              <a routerLink="/contact/." class="d-block mt-4 text-decoration-none footer-text">
                Contact us
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
          <strong class="footer-title">Links</strong>
          <div class="footer-text mt-3">
            <a routerLink="/health/bmi-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Body mass index BMI calculator
            </a>
            <a routerLink="/health/body-fat-percentage-calculator/."
              class="d-block mb-2 text-decoration-none footer-text">
              Body fat percentage BFP calculator
            </a>
            <a routerLink="/health/ideal-weight-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Ideal weight calculator
            </a>
            <a routerLink="/health/body-shape-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Body shape calculator
            </a>
            <a routerLink="/health/bmr-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Basal metabolic rate BMR calculator
            </a>
            <a routerLink="/health/healthy-weight-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Healthy weight calculator
            </a>
            <a routerLink="/calculators/age-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Age calculator
            </a>
            <a routerLink="/calculators/date-calculator/." class="d-block mb-2 text-decoration-none footer-text">
              Date calculator
            </a>

          </div>
        </div>
      </div>
      <div class="row copyright_row">
        <div class="col">
          <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
            <div class="footer-text my-2">
              Copyright &copy; {{dt}} All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by
              body-calculator.com
            </div>
            <div class="ml-lg-auto my-2">
              <div class="d-flex footer-text">
                <a class="d-block text-decoration-none mr-4" routerLink="/terms/.">Terms of Use</a>
                <a class="d-block text-decoration-none" routerLink="/private-policy/.">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
