<section>
  <div class="container">
    <div class="col-12">
      <h1 class="text-secondary text-center pt-4">Body Mass Index BMI Calculator</h1>
      <div class="flexMobile">
        <!-- <app-banner></app-banner> -->
      </div>
    </div>
    <app-form-bmi></app-form-bmi>
    <app-other-calculator-health eleminateCalculator="bmi"></app-other-calculator-health>
    <div class="bg-white py-5">
      <div class="text-center">
        <h2 class="text-secondary">Have more questions?</h2>
      </div>
      <div class="row pb-3 mx-5">
        <div class="col col-md-6 mt-4">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck1">
              <label class="tab-label" for="chck1"> What BMI means ?</label>
              <div class="tab-content">
                <p>Body mass index is known as a way to estimate body fat according to human weight and height. Studies
                  have shown that high body mass index (BMI) is significantly associated with the risk of developing
                  chronic diseases such as heart disease, hypertension, and adult grade 2 diabetes.</p>
                <p>The body mass index (BMI) gives a reasonable estimate of body fat in women, men, young, or elderly
                  body's, but there are limits to this older people, <br>
                  For example : have low muscle mass, and underestimated body fat, but for fit or very muscular people
                  they have overestimated fat.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck2">
              <label class="tab-label" for="chck2">The limitations of BMI ?</label>
              <div class="tab-content">
                <p>Although the BMI is widely used and widely used, it has limitations; ultimately, it is merely an
                  estimate of body composition that cannot be taken into account because of our different body types,
                  muscles, bones, and fat mass.</p>
                <p>For people to measure their weight properly, other methods must be used in addition to the BMI. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 mx-4">
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck3">
              <label class="tab-label" for="chck3">Doctors opinions in calculating BMI ?</label>
              <div class="tab-content">
                <p> In calculating the BMI for adult women and men doctors said it is not reliably accurate because it
                  measures not only excess fat but also excess body weight as a whole. Measurement may be influenced by
                  other factors, including age, gender, or ethnicity, as well as activity level and fat mass.</p>
                <p>On the contrary, older people measured with BMI have a healthy weight, regardless of whether their
                  activity is limited, and their excess fat mass is not heavy. If we look at the bodies of bodybuilders
                  we will find that their weight isn't healthy according to BMI because they are heavyweight. </p>
                <p> After all, they have a great number of muscles so their bodies are healthy according to the CCD.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck4">
              <label class="tab-label" for="chck4"> Is measuring BMI for teenagers and children the same as
                above?!</label>
              <div class="tab-content">
                <p>Children and teenagers measuring BMI are different if we Apply the factors that occur from the
                  effectiveness of the mass index in adults will negatively affect their sexual and physical maturity.
                </p>
                <p>The body mass index and body fat index in children vary according to obesity and thinness. This
                  difference is due to the fat-free mass.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 mx-3">
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck5">
              <label class="tab-label" for="chck5"> Is Body Mass Index secure?!</label>
              <div class="tab-content">
                <p>You may ask yourself if BMI is reliable or not, so I will give you the answer, as mentioned earlier
                  that BMI is the way to estimate body fats using weight and height.
                </p>
                <p> The importance of BMI is represented in how it helps to limit the risk of Chronic disease incidences
                  like diabetes, liver
                  disease, high blood pressure, several types of cancer, and sleep apnea, but it's not a perfect test
                  for pregnant women and high muscle mass, and it may not be good in
                  measuring the health of children.</p>
                <p>According to WHO millions of people died due to being overweight so
                  people with high BMI Are prone to chronic diseases.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck6">
              <label class="tab-label" for="chck6">Who should be excluded from measuring body mass?</label>
              <div class="tab-content">
                <p>There are three types of people who should not perform BMI because BMI shows incorrect results. </p>
                <ol type="1">
                  <li>First pregnant women This is because the bodies of pregnant women undergo several changes during
                    this period, so it is not measured correctly.</li>
                  <li>Second for muscle builders, their body mass can be given as a wrong indication of obesity, but
                    it's a wrong measure, because their body's muscle percentage is higher than fat, and that's not
                    considered obesity.</li>
                  <li>Third for people of Asian origin, Asian people, in particular, have an accumulation of abdominal
                    fat that makes their bodies look like apples, not pears, as other people do. So they have a lower
                    BMI than people of Caucasian origin. The fat mass is concentrated in the stomach Therefore, most of
                    these people experience heart problems, blood pressure, and diabetes.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 mx-2">
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck7">
              <label class="tab-label" for="chck7"> How does BMI help us in our daily life?!</label>
              <div class="tab-content">
                <p>BMI calculators help us eliminate the risk of obesity or thinness.
                  If a person has obesity it's lead to a range of chronic conditions including:
                </p>
                <ol>
                  <li>Diabetes type 2</li>
                  <li>High blood pressure</li>
                  <li>CANCER</li>
                  <li>Musculoskeletal problems</li>
                </ol>
                <p>If a person has thinness it's lead to a range of chronic disease including:</p>
                <ol>
                  <li>Anemia</li>
                  <li>Risk of malnutrition</li>
                  <li>Osteoporosis.</li>
                  <li>And many other diseases were discovered over time.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck9">
              <label class="tab-label" for="chck9">How to lose weight healthily?!</label>
              <div class="tab-content">
                <p>BMI calculators help us eliminate the risk of obesity or thinness.
                  If a person has obesity it's lead to a range of chronic conditions including:
                </p>
                <ol type="1">
                  <li>Eat a healthy breakfast: eat fresh fruit salad, food full of fibers and vitamins, or anything
                    healthy, but don't skip your breakfast.</li>
                  <li>Drink a lot of water, drinking water makes you feel full.</li>
                  <li>Do exercise every day, if you have no time to do it try to walk to your work or your nearest bus
                    station before going to work or before going to school.</li>
                  <li> If you are overweight you have to visit a doctor and ask him to help you.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-3 mx-1">
        <div class="col-md-12">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck8">
              <label class="tab-label" for="chck8"> The importance of measuring Waist circumference and How to measure
                it correctly?!</label>
              <div class="tab-content">
                <p>Some people believe that waist circumference is a way of determining whether an individual's body is
                  healthy, but it is actually a screening tool and is not fully relied upon to determine an individual's
                  health. </p>
                <p> To measure your waist circumference correctly you have to stand and place a tape measure around your
                  middle correctly above your hip bones. Keep the tape around your wish then breathe out and measure
                  your waist.</p>
                <p> People with a very big waist circumference are about to have different kinds of diseases like
                  diabetes and high blood pressure. Pregnant women aren't allowed to measure their waist because their
                  bodies are not in their normal shape.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border shadow bg-white mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="divset">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link" (click)="tabsSet('women')" [ngClass]="{'active' : switchTabs==='women' }">BMI
                CALCULATOR FOR WOMEN</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" (click)="tabsSet('men')" [ngClass]="{'active' : switchTabs==='men' }">BMI
                CALCULATOR FOR MEN</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" (click)="tabsSet('children')"
                [ngClass]="{'active' : switchTabs==='children' }">BMI CALCULATOR FOR CHILDREN</button>
            </li>
          </ul>
          <div *ngIf="switchTabs==='women'">
            <div class="row mt-3 d-flex flex-md-row-reverse">
              <div class="col-md-4 col-12">
                <img loading="lazy" src="../../../../assets/images/BMICalculatorForWomen.svg" loading="lazy"
                  alt="BMI Calculator For Women" width="80%" height="60%">
              </div>
              <div class="col-md-8 col-12  pr-5">
                <p>The body mass of women is calculated by dividing the weight in kilograms by the height
                  square in meters.
                </p>
                <p>For example, If a woman weighs 68 kg and is 165 cm long, the mass is calculated as
                  follows:Body mass = weight in kg/length in units of square meters.
                  68/(1.65)2 = 24.98 and it's a perfect weight, but it is on the edge of weight gain.</p>
              </div>
            </div>
          </div>
          <div *ngIf="switchTabs==='men'">
            <div class="row mt-3 d-flex flex-md-row-reverse">
              <div class="col-md-4 col-12">
                <img loading="lazy" src="../../../../assets/images/BMICalculatorForMen.svg" loading="lazy"
                  alt="BMI Calculator For men" width="100%" height="60%">
              </div>
              <div class="col-md-8 col-12 pl-5">
                <p>The Measurement of mass is not different for men and women. The difference in fat for both men
                  and women is that if they are similar in mass, the percentage of fat is not equal, but women are
                  more
                  likely to have fat mass.</p>
              </div>
            </div>
          </div>
          <div *ngIf="switchTabs==='children'">
            <div class="row mt-3 d-flex flex-md-row-reverse">
              <div class=" col-md-4 col-12">
                <img loading="lazy" src="../../../../assets/images/BMICalculatorForChildren.svg" loading="lazy"
                  alt="BMI calculator for children" width="100%" height="60%">
              </div>
              <div class="col-md-8 col-12 pl-5">
                <p>
                  It is one of the most important assessments used to determine whether children are obese, and
                  also helps to determine the child's growth rate and slow growth.
                </p>
                <p>
                  It is calculated in the same way as BMI in adults. Perfect weight criteria differ between adults
                  and children.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
