<section>
  <div class="container d-flex align-self-center justify-content-center py-5">
    <div class="row w-100">
      <div class="col-md-6 d-md-block d-none">
        <div class="hide-svg hero-responsive" style="background-color: #FFFFFF;">
          <!-- <ng-lottie width="85%" [options]="options"></ng-lottie> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <h5 class="ml-2">Contact <span class="temp">us</span></h5>
        </div>
        <p>Email: support@body-calculator.com</p>
        <div *ngIf="error" class="alert alert-danger w-75 mx-auto text-center" role="alert">
          <span>
            {{error}}
          </span>
        </div>
        <div *ngIf="error" class="alert alert-success w-75 mx-auto text-center" role="alert">
          <span>
            {{msg}}
          </span>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="element mb-3">
            <label for="name">Name<span class="required">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Full Name" required>
            <small class="error mt-1" *ngIf="name.invalid && (name.dirty || name.touched)">
              Name is required !
            </small>
          </div>
          <div class="element mb-3">
            <label for="email">Email<span class="required">*</span></label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email" required>
            <small class="error mt-1" *ngIf="email.invalid && (email.dirty || email.touched)">
              Email is invalid</small>
          </div>
          <div class="element mb-3">
            <label for="subject">Subject<span class="required">*</span></label>
            <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject"
              required>
            <small class="error mt-1" *ngIf="subject.invalid && (subject.dirty || subject.touched)">
              Subject is required
            </small>
          </div>
          <div class="element mb-3">
            <label for="message">Message<span class="required">*</span></label>
            <textarea class="form-control" id="message" rows="4" formControlName="message"
              placeholder="Message"></textarea>
            <small class="error mt-1" *ngIf="message.invalid && (message.dirty || message.touched)">
              Min length 20 characters and max length 5000 characters
            </small>
          </div>
          <button type="submit" class="btn btnBgPrimary w-100 mb-3" nbSpinnerStatus="primary" nbButton fullWidth
            status="success">Send
            message</button>
        </form>
      </div>
    </div>
  </div>

</section>
