<section>
  <div class="container">
    <div class="col-12">
      <h1 class="text-secondary text-center pb-3">Ideal body weight calculator</h1>
      <div class="flexMobile">
        <app-banner *ngIf="envirement"></app-banner>
      </div>
    </div>
    <div class="row mb-3 d-flex flex-md-row-reverse">
      <div class="col-md-5 mx-auto mb-5">
        <img loading="lazy" src="../../../../assets/images/undraw_healthy_habit_bh-5-w.svg" width="100%" height="100%"
          alt="ideal-weight-calculator">
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-white text-center font-weight-bold">Ideal weight calculator</div>
          <div class="card-body example-items-col">
            <div *ngIf="error" class="alert alert-danger mx-auto mt-2 text-center" role="alert">
              <span>
                {{error}}
              </span>
            </div>
            <form [formGroup]="calculeIwc" (ngSubmit)="CalculateIwc(target)">
              <div class="mb-3 d-flex justify-content-center">
                <!-- <div class="mr-3">
                      <fa-icon *ngIf="checked == 'male'" class="social-icon ml-5" [icon]="faMale"></fa-icon>
                      <fa-icon *ngIf="checked == 'female'" class="social-icon ml-5" [icon]="faFemale"></fa-icon>
                    </div> -->
                <div class="mb-3">
                  <select class="form-select" placeholder="gender" selected="female" (change)="checkedGender($event)"
                    required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <!-- <nb-select placeholder="gender" status="basic" shape="semi-round" fullWidth [(selected)]="checked"
                        required>
                        <nb-option value="male">Male</nb-option>
                        <nb-option value="female">Female</nb-option>
                      </nb-select> -->
                </div>
              </div>
              <div>
                <label for="Age">Age</label>
                <input class="form-control" type="text" nbInput fullWidth status="basic" shape="semi-round"
                  placeholder="Age" formControlName="age">
                <small class="text-danger" *ngIf="submitted && formIwc['age'].errors?.['required']">Age is required
                  !</small>
                <small class="text-danger" *ngIf="submitted && formIwc['age'].errors?.['min']">Please provide an age
                  between 5
                  and
                  100.
                  !</small>
                <small class="text-danger" *ngIf="submitted && formIwc['age'].errors?.['max']">Please provide an age
                  between 5
                  and
                  100.
                  !</small>
              </div>
              <div>
                <label for="" class="mt-3">Height :</label>
                <strong *ngIf="selectedHeight == 'cm'"> cm</strong>
                <strong *ngIf="selectedHeight == 'm'"> Metres</strong>
                <strong *ngIf="selectedHeight == 'in'"> Inches</strong>
                <strong *ngIf="selectedHeight == 'ft'"> Feet</strong>
                <!-- <nb-form-field class="mb-3">
                      <div class="d-flex justify-content-between"> -->
                <div class="mb-3">
                  <div class="row">
                    <div class="col-6">
                      <input class="form-control" type="text" nbInput fullWidth status="basic" shape="semi-round"
                        placeholder="Height" formControlName="height" [(ngModel)]="modelsIwc.height" IsDecimal>
                      <small class="text-danger" *ngIf="submitted && formIwc['height'].errors?.['required']">Height is
                        required !
                        !</small>
                    </div>
                    <div class="col-6 pl-0">
                      <select class="form-select" placeholder="cm" selected="cm" (change)="heightSelect($event)"
                        required>
                        <option value="cm">cm</option>
                        <option value="m">Metres (m)</option>
                        <option value="in">Inches (in)</option>
                        <option value="ft">Feet (ft)</option>
                      </select>
                      <!-- <nb-select class="nb-select-min-width" selected="cm" placeholder="cm" status="basic"
                            shape="semi-round" fullWidth (selectedChange)="heightSelect($event)" required>
                            <nb-option value="cm">cm</nb-option>
                            <nb-option value="m">Metres (m)</nb-option>
                            <nb-option value="in">Inches (in)</nb-option>
                            <nb-option value="ft">Feet (ft)</nb-option>
                          </nb-select> -->
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btnBgPrimary w-100">Calculate</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12">
        <app-banner *ngIf="envirement"></app-banner>
      </div>
      <div class="col-md-6 mx-auto bg-white" *ngIf="height">
        <p class="bmi text-center my-3">Your ideal weight based on popular formulas:</p>
        <table class="table">
          <!-- <table class="table border"> -->
          <thead class="bg-secondary">
            <tr>
              <th scope="col">Formula</th>
              <th scope="col">Ideal Weight</th>
              <!-- <th scope="col">Rslt<sup>2</sup></th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Robinson (1983)</td>
              <td class="height">{{rsltHeightRobinson}} kgs</td>
            </tr>
            <tr>
              <td scope="row">Miller (1983)</td>
              <td class="height">{{rsltHeightMiller}} kgs</td>
            </tr>
            <tr>
              <td scope="row">Devine (1974)</td>
              <td class="height">{{rsltHeightDevine}} kgs</td>
            </tr>
            <tr>
              <td scope="row">Hamwi (1964)</td>
              <td class="height">{{rsltHeightHamwi}} kgs</td>
            </tr>
            <tr>
              <td scope="row">Healthy BMI Range</td>
              <td class="height">{{rsltHealthyWeightMin}} -
                {{rsltHealthyWeightMax}} kgs</td>
            </tr>
          </tbody>
        </table>
        <!--  -->
      </div>
      <span #target></span>
    </div>
    <app-other-calculator-health eleminateCalculator="iwc"></app-other-calculator-health>
    <p class="text-secondary text-center my-5 font-weight-bold" style="font-size: 24px;">Learn more about Ideal Weight
      Calculator</p>

    <div class="row border shadow bg-white mt-4">
      <div class="col-md-12 mx-2 mt-4 p-4">
        <p>Adults may use the following tables to determine their conventional ideal weight in relation to their
          height and to maintain a healthy BMI (BMI). A 2016 research offered a universal equation based on body
          mass index, while prior techniques employed distinct formulae for men and women. </p>
        <p>Health results linked with a BMI of 22 (the normal weight range) are excellent. There is no use for these
          charts if you are under the age of 18.</p>
        <p>It's important to keep in mind that achieving a certain weight isn't a guarantee of good looks or health.
          A person's actual weight may differ from what is shown in the graphs since they do not account for such
          things as muscle mass or pre existing medical issues.</p>
        <p><a routerLink="/health/bmi-calculator/.">Body Mass Index (BMI)</a> is also an outdated and skewed metric
          that
          fails to take into consideration a
          number of important variables, such as body composition, ethnicity, race, gender and age.</p>
        <p>Medical professionals utilize BMI despite its flaws because it is a low-cost and rapid way to assess
          one's probable health status and results.</p>
        <h2 class="text-secondary">Defining a Ideal Weight Calculator</h2>
        <p>As a rule of thumb, the conventional ideal weight estimate does not take into account health studies or
          demographic norms.</p>
        <ul>
          <li>For every additional inch above 5 feet in height, add 1.7kg to the optimal female body weight (in
            kilos).</li>
          <li>To get the optimal weight for guys, you need to add 1.9 kg for every inch above 5 feet.
          </li>
        </ul>
        <p>These formulas were created for clinicians to use when determining medicine doses. Overestimation occurs
          at lower heights, whereas underestimation occurs in the upper range of heights.</p>
        <p>Nonetheless, a 2016 research indicated that the outcomes were closely linked to a healthy BMI of 21 for
          women and 22.5 for males. The study's authors propose an alternative calculation based on BMI.</p>
        <p>Results apply to both men and women, since the healthy BMI range is the same. A BMI of 22 falls somewhere
          in the center of the healthy normal weight range of 18.5 to 24.9.</p>
        <h2 class="text-secondary">Equations for the Ideal Weight Calculator that Have Been Revised</h2>
        <p>Body mass index + (BMI divided by 5) x 5 = (Height in inches minus 60)</p>
        <p>Weight in kilos = 2.2 x BMI + (3.5 x BMI) (Height in meters minus 1.5)</p>
        <p>The greater height range is the most significant change between the older and current calculations. New
          BMI equations enable women to gain a few pounds more at each height compared to earlier charts, and the
          optimal weight for women is the same as for males when using BMI.</p>
        <h2 class="text-secondary">Why Do People Gain or Lose Weight?</h2>
        <p>Having a BMI significantly over or below the healthy range is related with poor health results and
          increased death for various illnesses, whereas being underweight is associated with better health outcomes
          and lower mortality.</p>
        <p>You may assume that if you weigh more than the optimal weight for your height on the charts, you are lean
          and strong. There are exceptions, but the majority of individuals weigh more because they have more fat in
          their bodies.</p>
        <p>Health authorities typically use your BMI, which is derived from your height and weight, to determine
          whether or not you are overweight or obese.</p>
        <p>People with a lot of muscle mass may have a higher BMI, yet nevertheless have minimal body fat. Although
          they may seem to be healthy, those who have lost muscle mass and instead replaced it with fat may have a
          BMI that is too high or too low.</p>
        <p>A healthy weight may be determined using both your BMI and your waist circumference, according to the
          Centers for Disease Control and Prevention (CDC). For non-pregnant women, a waist circumference of 35
          inches or more implies an increased risk of obesity-related diseases, according to the Centers for Disease
          Control and Prevention3.</p>
        <h2 class="text-secondary">Other Ideal Weight Calculator</h2>
        <p>Weight and body fat levels may be measured in a variety of methods.</p>
        <h3 class="text-secondary"><a routerLink="/health/bmi-calculator/.">Calculator for the BMI</a></h3>
        <p>Adults' BMI is not affected by their age, while children's is. This is due to their rapid expansion.
          People 2–19 years old have their BMI calculated by taking into account their chronological age and the
          gender of their fetus at the time of birth.</p>
        <p>The CDC's calculator for children and adolescents may be used to determine a child's BMI.</p>
        <p>In the CDC's BMI charts for children, the percentiles are based on comparisons between children of the
          same age and gender.</p>
        <h3 class="text-secondary">Calculator for the BMI</h3>
        <p>The BMI is a straightforward measurement that may be done in a matter of minutes. Although it takes the
          user's height into account, it does not take into account things like:</p>
        <p>measures of the hips or waist.
          the distribution of fat and muscle mass in the body
          These variables may have a negative impact on one's well-being. When it comes to body fat,
          high-performance athletes tend to be very lean and fit. Although they may have a higher BMI than the
          average person, this does not imply that they are excessively overweight based on their height.
        </p>
        <p>Additionally, BMI does not differentiate between persons of various races. At the same BMI, non-Hispanic
          whites, non-Hispanic blacks, and Mexican-Americans may all have varying amounts of body fat, according to
          recent studies.
        </p>
        <p>Misdiagnosis or an erroneous estimate of risk factors might result from this error.</p>
        <p>In population research, the BMI may be used to gauge whether or not a subject in a healthy weight range.
        </p>
        <p>Individuals should not, however, rely only on this metric to determine if their weight is healthy.</p>
        <p>See what BMI has to offer and what it can't</p>
        <p>The WHR measures a person's waist circumference in relation to their hip circumference. Having a high WHR
          implies a person has more visceral fat, the fat that surrounds many key organs in the abdomen.</p>
        <p>People with a high WHR are more prone to develop cardiovascular disease and type 2 diabetes, according to
          studies.</p>
        <p>This risk is exacerbated if a person has a large waist compared to their hip circumference. As a result,
          the WHR may be used to determine if a person's weight and size are in the moderate range.</p>
        <h3 class="text-secondary"><a routerLink="/health/body-fat-percentage-calculator/.">Percentage of Body Fat</a>
        </h3>
        <p>Your BMI is not the same as your body fat percentage. Gaining or decreasing muscle mass may be determined
          by taking this measurement. Men and women have distinct healthy weight ranges. A bioelectrical impedance
          scale, for example, may be used to quantify body fat. </p>

        <h3 class="text-secondary">In addition, there are other metrics, such as</h3>
        <p>underwater weighing, or air densitometry, which measures air displacement dual-energy X-ray absorption
          bioelectrical impedance analysis hydrostatic body fat measurement
          No reading can be 100% exact, but these estimations are near enough to be useful.
        </p>
        <p>Consider the many methods of determining body fat.</p>
        <p>There are four techniques to measure your weight: BMI, WHR, WtHR, and body-fat percentage.</p>
        <p>Combining them may be the best approach to determine whether or not a person should take action to lose
          weight.</p>
        <p>Those who are concerned about their weight or body composition should see a doctor or nutritionist who
          can recommend the best course of action for them.</p>
        <h2 class="text-secondary">Assisting in the measurement of WHR</h2>
        <p>It is important to measure oneself at the narrowest area of their waistline, which is generally right
          above the belly button, in order to determine their WHR. Once this measurement has been taken, they may
          divide it by the hip width at its widest point.</p>
        <p>If a person has a 28-inch waist and 36-inch hips, the WHR is calculated as 0.77 by dividing 28 by 36.</p>
        <h3 class="text-secondary">In addition, there are other metrics, such as</h3>
        <p>According to a World Health Organization analysis from 2008, optimal WHR varies by sex at birth and
          ethnicity (WHO).</p>
        <p>People with a high WHR may be at greater risk of cardiovascular disease (CVD) and other illnesses
          associated with obesity, such as type 2 diabetes.</p>
        <p>In the table below, you can see average WHR readings and their correlations with various health issues.
        </p>
        <p>Myocardial infarctions, or heart attacks, have been associated to a higher WHR in the study population.
        </p>
        <p>The WHR, like the BMI, is not without its drawbacks. A person's total body fat percentage or
          muscle-to-fat ratio, for example, cannot be reliably calculated using this method.</p>
        <p>The waist-to-height ratio (WtHR) may be a better predictor of heart disease, diabetes, and total
          mortality than BMI.</p>
        <h3 class="text-secondary">WtHR Calculator</h3>
        <p>WtHR may be calculated by taking the circumference of the waist and multiplying it by the height of the
          subject. A result of 0.5 or less indicates that a person is of average weight.</p>
        <p>A 2014 research found that those who had a WtHR of 0.52 or higher have a greater risk of heart disease. A
          person's health risks may be accurately predicted using measurements that account for waist circumference.
          That's because belly fat may hurt your heart, kidneys, and liver, which is why it's important to lose it.
        </p>
        <p>It's the weight of a person's fat divided by their entire weight that determines how much fat they have.
          A person's essential and stored fat are included in this measurement.</p>
        <p>Essential fat is necessary for the growth of the brain, the bone marrow, the nerves, and the membranes of
          the body.</p>
        <p>The fatty tissue in the chest and belly known as "storage fat" protects the body's internal organs from
          damage and may be used as a source of energy in emergency situations.</p>
        <p>Find out more about calculating body fat percentages.</p>
        <h2 class="text-secondary">Recommendations</h2>
        <p>There are a number of factors that might influence a person's optimum total fat percentage, including
          their body type and amount of exercise.</p>
        <p>Find out how much fat you have on your body based on your gender and age.</p>
        <p>Risk factors for obesity include having a high percentage of body fat.</p>
        <p>diabetes cardiovascular disease hypertension stroke
          In contrast to DMI, WHR, and WtHR, body fat % provides a more accurate representation of a person's body
          composition.
        </p>
        <h3 class="text-secondary">Children's and teenagers' measurements</h3>
        <p>Finding a healthy weight for children and teenagers is more difficult (up to age 20). Adults' BMI
          formulas vary from those of children. Weight/(height x height) x 703 is the conventional formula for
          calculating a child's BMI.</p>
        <p>The CDC's website has a calculator for this purpose. Results are compared to a percentage chart for each
          age group. 5 Having a body mass index (BMI) between the 5th and 85th percentiles is considered normal.
          Based on age, the CDC provides a weight for height chart (in kilograms).</p>
        <h2 class="text-secondary">Why Do Appearances Differ?</h2>
        <p>The optimal weight for your height does not ensure that you will appear the same as someone of the same
          weight and height. At the same weight and height, there are a variety of elements that influence how
          different persons seem.</p>
        <h3 class="text-secondary">Muscle mass.</h3>
        <p>You will look different if you have a lot of lean body mass (muscles, not fat) instead of a lot of fat.
        </p>
        <h3 class="text-secondary">Proportions</h3>
        <p>The proportions of a person vary from person to person. Some individuals are taller in the torso and
          shorter in the legs, while others are the opposite. No matter how much you weigh, a short woman can never
          have an hourglass body or waist that is nipped in.</p>
        <h3 class="text-secondary"><a routerLink="/health/body-shape-calculator/.">The shape of the Body</a></h3>
        <p>Women's body shapes were examined in the SizeUSA research, which was released in 2004. Nearly half of the
          women had waists that were less than 9 inches smaller than their hips or bust. 20% had a pear-shaped
          physique, and 14% had an inverted triangle figure, with the breast larger than the hips.</p>
        <p>Only 8% of women had what is known as an "hourglass figure," in which the hips and breast are the same
          size but the waist is thin. The fashion industry, on the other hand, tends to favor hourglass figures. 6
        </p>
        <p>Ectomorphs, endomorphs, and mesomorphs are the three most common male body types.</p>
        <h3 class="text-secondary">In this case, we are referring to the age</h3>
        <p>As you get older, your body's makeup changes. Puberty brings about significant changes in body form due
          to the effects of male and female hormones. During menopause, the body's hormone balance shifts once
          again, and where fat is stored may shift as well. People have to work harder to retain muscle mass as they
          become older.</p>
        <p>As a result, when it comes to establishing weight and height goals, it may be useful to observe what
          other individuals look like at your current weight and height. MyBodyGallery.com is one of several
          internet galleries where readers may publish their photos.</p>
        <h2 class="text-secondary">From the Mouths of Verywell</h2>
        <p>
          In order to have a healthy physique, you don't have to worry about meeting a set figure. If you're feeling
          disheartened because you're focusing too much on the scale, take positive measures instead. To keep your
          body healthy and functioning properly, nothing is more important than regular physical activity and a
          well-balanced diet.
        </p>
      </div>
    </div>

  </div>
  <ngx-json-ld [json]="schema"></ngx-json-ld>
</section>
