<section id="terms">
  <div class="container my-4 d-flex justify-content-center mt-5 pt-3">
    <div class="col-lg-10 col-12 ">
      <h1 class="text-center ">Terms of use</h1><br>
      <p>
        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions
        of Use, all applicable laws and regulations, and agree that you are responsible for compliance
        with any applicable local laws. If you do not agree with any of these terms, you are prohibited
        from using or accessing this site. The materials contained in this web site are protected by
        applicable copyright and trade mark law.<br><br>
        <span class="font-weight-bold">Intellectual Property Rights</span><br>
        All copyrights, trademarks, patents and other intellectual property rights in and on our website
        and all content and software located on the site shall remain the sole property of our company or
        its licensors. The use of our trademarks, content and intellectual property is forbidden without
        the express written consent from the owner of this website.<br><br>
        <span class="font-weight-bold">You must not:</span><br>
        * Republish material from our website without prior written consent.<br>
        * Sell or rent material from our website.<br>
        * Reproduce, duplicate, create derivative, copy or otherwise exploit material on our website for
        any purpose.<br>
        * Redistribute any content from our website, including onto another website.<br><br>
        <span class="font-weight-bold">Acceptable Use</span><br>
        You agree to use our website only for lawful purposes, and in a way that does not infringe the
        rights of, restrict or inhibit anyone else’s use and enjoyment of the website. Prohibited behavior
        includes harassing or causing distress or inconvenience to any other user, transmitting obscene or
        offensive content or disrupting the normal flow of dialogue within our website.<br>
        You must not use our website to send unsolicited commercial communications.<br>
        You must not use the content on our website for any marketing related purpose without our
        express written consent.<br><br>
        <span class="font-weight-bold">Restricted Access</span><br>
        We may in the future need to restrict access to parts (or all) of our website and reserve full rights
        to do so. If, at any point, we provide you with a username and password for you to access
        restricted areas of our website, you must ensure that both your username and password are kept
        confidential.<br><br>
        <span class="font-weight-bold">Revisions</span><br>
        The owner of this website may change these terms from time to time and so you should check
        these terms regularly. Your continued use of our website will be deemed acceptance of the
        updated or amended terms. If you do not agree to the changes, you should cease using our
        website immediately.<br><br>

        If any of these terms are determined to be illegal, invalid or otherwise unenforceable, it shall be
        severed and deleted from these terms and the remaining terms shall survive and continue to be
        binding and enforceable.<br><br>
        <span class="font-weight-bold">Limitation of Liability</span><br>
        The materials at this site are provided “as is” without any express or implied warranty of any kind including
        warranties of merchantability, noninfringement of intellectual property, or fitness for any particular purpose.
        in no event shall the owner of this website or its agents or officers be liable for any damages whatsoever
        (including, without limitation, damages for loss of profits, business interruption, loss of information, injury
        or death)
        arising out of the use of or inability to use the materials, even if the owner of this website has been advised
        of the possibility of such loss or damages.<br>
      </p>
    </div>
  </div>
</section>
