@import '../../../../variables.scss';
@import '../../../../mediaqueries.scss';

p {
  font-family: font(font-family-regular);
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  font-family: font(font-family-regular);
  font-size: 28px;
  line-height: 1.5;
}

//responsive
p {
  @include tablet-sm {
    font-size: 14px;
  }

  @include mobile-l {
    font-size: 12px;
  }
}



@media screen and (min-width: 552px) {
  .widthImg{
   width: 40% !important;
  }
}

@media screen and (max-width: 552px) {
  .widthImg{
    width: 100%;
  }
}